/* http://colorschemedesigner.com/ #01939A */

body
{
    color: #f0e7d5;
    background: #252525;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
h1		{ color: #ffcc00; text-align: center; }
h2		{ color: #ffcc00; margin-top: 0; margin-bottom: 0; }
h2 a	{ color: #ffcc00; font-weight: bold; }
h3		{ color: #e8e8e8; margin-top: 0; margin-bottom: 0; }
h3 a	{ color: #e8e8e8; font-weight: bold; }
h4		{ color: #e8e8e8; margin-top: 0; margin-bottom: 0; }
h4 a	{ color: #e8e8e8; font-weight: bold; }
h5		{ color: #e8e8e8; font-size: 10px; margin-top: 0; margin-bottom: 0; }
th		{ color: white; text-align:left; background-color: #191919; border: 1px solid black; }
a		{ color: #ffeb9b; text-decoration: none; font-weight: normal; }
a:hover	{ text-decoration: underline; }
img		{ border: 0px; }
li a	{ color: white; }

div.box
{
	border: 2px solid;
	border-radius: 5px;
	border-color: black;
	background: #191919;
	padding: 5px;
	margin-bottom: 10px;
}

div.headingold { border: none; background: #006064; padding:1px; padding-left:5px; padding-right:5px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse closest-side, #1d7074 0%, #006064 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse closest-side, #1d7074 0%, #006064 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse closest-side, #1d7074 0%, #006064 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #1d7074), color-stop(1, #006064));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse closest-side, #1d7074 0%, #006064 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse closest-side at center, #1d7074 0%, #006064 100%);
}

ul.hmenu
{
	list-style: none;
}

li.hmenu
{
	display: inline;
	padding-right: 20px;
}

ul.vmenu
{
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0;
	padding-left: 0;
}

li.vmenu
{
}

code
{
    color: white; 
    display: block;
    white-space: pre-wrap;
	background-color: #191919;
	border-style: solid;
	border-width: 1;
	border-color: #000000;
	border-top-width:    1;
	border-left-width:   1;
	border-right-width:  1;
	border-bottom-width: 1;
	margin-bottom: 10px;
}

table
{
    color: white;
	background: #252525;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1;
	border-color: black black;
	border-top-width:    1;
	border-left-width:   1;
	border-right-width:  1;
	border-bottom-width: 1;
}
