---
---
@import "{{ site.theme }}";

section{
    max-width: 100%;
}

#header nav{
    max-width: 100%;
}

.wrapper{
    max-width: 100%;
}

table {
    max-width: 650px;
}

td {
    padding: 0px;
    border: 1px solid #434343;
}
