---
---
@import "{{ site.theme }}";

section {
    max-width: 100%;
    margin: 0 0 5px 5px;
    padding: 0 0 5px 5px;
}

section #title {
    margin: 0 0 5px 5px;
    padding: 0 0 5px 5px;
}

#header nav {
    max-width: 100%;
}

.wrapper {
    max-width: 100%;
}

table {
    width: auto;
}

td {
    padding: 0px;
    border: 1px solid #434343;
}
