body {
  font-size: 100%;
  font-family: "wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
  font-weight: normal;
  color: #4d4d4d;
  background-color: #eaeaea;
}
.main_title {
  margin: 0px;
}
.entry {
  margin: 5px 0px;
  padding: 5px;
  border: 2px solid #4d4d4d;
  border-radius: 10px;
}
.title {
  margin: 0px;
}
.link:hover {
  text-decoration: underline;
}
.date {
  margin: 0px;
  color: lightgrey;
}
.text {
  margin: 5px 0px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
